<div id="<%= dom_id wine %>">
  <p>
    <strong>Brand:</strong>
    <%= wine.brand %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= wine.style %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= wine.country %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= wine.quantity %>
  </p>

</div>
